# Eclipse
.classpath
.project
.settings/

# Intellij
.idea/
*.iml
*.iws

# Mac
.DS_Store

# Maven
log/
target/

# Gradle
.gradle

# Other
bin/

#visual paradigm
vpproject/
SWOPCarManufactureGroep7.vpdm/
